<div class="nav-admin-user">
  <span class="nav-admin-title"><%= t('.panel')%></span>

  <div class="nav-admin-user">
    <%= t(".welcome", first_name: current_user.first_name, last_name: current_user.last_name) %>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
