<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('show', scope: 'helpers.submit'), admin_question_path(question), class: 'btn btn-outline-primary mt-1' %></td>
  <td><%= link_to t('edit', scope: 'helpers.submit'), edit_admin_question_path(question), class: 'btn btn-outline-primary mt-1' %></td>
  <td>
    <%= link_to t('delete', scope: 'helpers.submit'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('.delete_confirmation') },
                class: 'btn btn-outline-primary mt-1' %>
  </td>
</tr>
