<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
    <%= render 'form' %>

    <%= link_to 'Back', admin_test_path(@question.test), class: 'btn btn-primary mt-1' %>
  </div>
</div>
