<%= form_with url: feedbacks_path do |form| %>
  <%= form.text_area :body, rows: 5, cols: 40 %>
  <p>
    <%= form.submit class: 'btn btn-primary mt-1' %>
    <%= link_to t('back', scope: 'helpers.submit'), tests_path, class: 'btn btn-primary mt-1' %>
  </p>
<% end  %>
