<tr>
  <td><%= badge_reward.badge.title %></td>
  <td><%= badge_reward.created_at %></td>
  <td>
    <% if badge_reward.badge.image %>
        <%= image_tag badge_reward.badge.image %>
      <% end %>
  </td>
</tr>
