<footer>
  <p><%= current_year %></p>
  <p><%= github_url("timbynce", "test-guru") %></p>
  <p>This is test-guru. Project about tests, rails and how to become guru of ROR.</p><p></p>
  <p><a href="https://www.thinknetica.com" rel="nofollow" rel="noopener" target="_blank">Учебный проект в онлайне школе Thinknetica</a></p>
</footer>